/*  ----------------- GLOBAL ----------------- */
body {
    background-color:#fbfbfb;
}

h1 {
    font-size: 24px;
    color: #347f9f;
    font-family: 'Lato';
    font-weight: lighter;
    display: inline-block;
    line-height: 20%;
  }
  
h2 {
    font-size: 150px;
    color: #7C9482;
    font-family: 'Roboto' sans-serif;
    font-weight: lighter;
    display: inline-block;
    line-height: 20%;
    margin: 0;
  }

h3 {
    font-size: 16px;
    color: #989898;
    font-family: 'Mlish';
    font-weight: lighter;
    line-height: 100%;
  }

h4 {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: bold;
}

h5 {
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Mulish';
  font-weight: lighter;
}


/*  ----------------- HEADER & FOOTER ----------------- */

.header, .footer {
  display: flex;
  flex-direction: column;
}


/*  ----------------- MAIN CONTENT ----------------- */
.ua {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    line-height: 85%;
  }
  
.ua img {
    max-height:1px;
  }
  
.appcontent {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #7C9482;
  }
  
.appcontent img {
  max-width: 300px;
  max-height: 250px;
  }
  .Design button:hover {
    background-color: #d46d5e;

}
.Art_Blog button:hover {
  background-color: #347f9f;

}